<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>出退勤管理</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <% @posts.each do |post| %>

        <div class="posts-index-item">
            <%=post.context %> <%= post.stamping %> <%=l post.created_at%>
        </div>
    <%end%>
  </body>
